/*
TABLE OF CONTENTS

1. BASE RULES
2. LAYOUT RULES
3. MODULE RULES
4. STATE RULES
5. THEME RULES
6. RESPONSIVE RULES

Reviewer: I'm attempting to follow SMACS;
*/

/* 1. BASE RULES */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img,
embed,
object,
video {
  max-width: 100%;
}

/* Tap targets for fingers on mobile
should be no less than this */
a {
  text-decoration: none;
  display: block;
  min-width: 48px;
  min-height: 48px;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1 {
  font-weight: 100;
  font-size: 46px;
}

h2 {
  font-size: 38px;
  margin-bottom: 15px;
}

h3 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 5px;
}

h2,
h3 {
  font-weight: 400;
}

/* 2. LAYOUT RULES */

.grid {
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  width: 100%;
}

/* 3. MODULE RULES */

.container,
.portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
  .portfolio-item  {
    flex: 1;
    margin-right: 25px;
    width: calc(33% - 25px);
  }

    .no-flexbox .portfolio-item {
      width: 33.33%;
      margin-right: 0;
    }

  .portfolio .portfolio-item:last-of-type {
    margin-right: 0;
  }

.logo {
  font-size: 6em;
  padding-top: 12px;
  flex: 1;
}

  .no-flexbox .logo {
    width: 40%;
  }

.title{
  flex: 2;
}

.inner-header {
  margin: 0 auto;
  padding: 20px 10px 0 10px;
}

.hero {
  margin: 36px 0 28px 0;
}

/* 4. THEME RULES */

.small-title {
  font-weight: 400;
  font-size: 18px;
}

.line {
  border-bottom: 1.8px solid #AEAEAE;
}

.uppercase {
  text-transform: uppercase;
}

.ten-left {
  margin-left: 10px;
}

.right-text {
  text-align: right;
}

.center-text {
  text-align: center;
}

.dark-grey {
  color: #2D3E50;
}

.green {
  color: #1BBC9B;
}

.pink {
  color: #E64C66;
}

/* 5. STATE RULES */

a:hover {
  color: #2D3E50;
}

/* MEDIA QUERIES */
/* I'm not sure where these should go */

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  .small-title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px){
  .portfolio {
    flex-direction: column;
  }

    .portfolio-item  {
      margin-right: 0px;
      width: 100%;
    }

}

@media only screen and (max-width: 415px){
  .inner-header {
    padding: 10px 10px 5px 10px;
  }

  .line {
    border-bottom: 1px solid #AEAEAE;
  }
}

